.wrapper {
  padding: 15px;
}

.title {
  text-align: center;
}
.formSearch {
  padding: 15px;
  text-align: center;
  border: 1px solid rgb(19, 17, 17);
  width: 350px;
}

.appear {
  transform: translateX(-100%);
  opacity: 0.1;
}
.appearActive {
  transform: translateX(0);
  transition: transform 500ms linear;
  opacity: 1;
}
.enter {
  opacity: 0;
  transform: scale(0.1);
}
.enterActive {
  opacity: 1;
  transform: scale(1);
  transition: all 250ms linear;
}
.exit {
  opacity: 1;
  transform: scale(1);
}
.exitActive {
  opacity: 0;
  transform: scale(0.1);
  transition: all 250ms linear;
}
.warning {
  font-size: 24px;
  color: red;
  font-weight: 700;
}